 html,
    body {
        height: 100%;
    }

    body {
    	padding-top: 65px;
        color: white;
    }

    .row1.container {
    	text-align: center;
    	padding-top: 50px;
    }

     .row2.container {
    	text-align: center;
    	padding-top: 30px;
    }

     .row3.container {
    	text-align: center;
    	padding-top: 40px;
    }

    .artist {
        margin-bottom: 20px;
    }

    .profilepic {
        text-align: center;
    }

    .spotify.container {
    text-align: center;
    margin-top: 40px;
}

 .youtube.container {
    text-align: center;
    margin-top: 20px;
}

.socialIcons {
    margin-top: 10px;
}


 .autocomplete-suggestions {
    background: white;
    color: black;
    border-radius: 5px;
    padding-left: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    cursor: pointer;

}

p.bio {
    padding: 5px;
}

@media only screen and (max-width : 768px) {
   .youtube.container iframe {
        width: 90%;
    }
}





